<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>NeoGaming 🧬🕹</title>
</head>
<body>
  <header>
    </form>
    <h1>NeoGaming</h1>
    <nav>
      <ul>
        <li><a href="../index.html">Inicio</a></li>
      </ul>
    </nav>
  </header>
  <article>
    <h3>Dead Space Remake</h3>
    <img src="../assets/dead-space-remake.png" alt="Dead Space Remake">
    <p>Desarrollado por: EA Motive</p>
    <p>Publicado por: Electronic Arts</p>
    <p>Fecha de lanzamiento: 27 de enero del 2023</p>
    <ul>
      <li>Género: Survival horror, Ciencia ficción</li>
      <li>Plataformas: PlayStation 5, PlayStation 4, Xbox Series X|S, PC</li>
      <li>Clasificación: ESBR Mature 17+</li>
    </ul>
    <iframe width="560" height="420" src="https://www.youtube.com/embed/mWrBqrifdvk"
      title="Dead Space | Tráiler Oficial | PS5" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen></iframe>
    <h4>Descripción:</h4>
    <p>Dead Space Remake es una versión actualizada del juego original de 2008, uno de los títulos más icónicos y aclamados de la serie. En este juego, los jugadores asumen el papel del ingeniero Isaac Clarke mientras investiga una nave espacial abandonada infestada de monstruos. Con gráficos mejorados, una jugabilidad mejorada y nuevas características, Dead Space Remake promete ser una experiencia emocionante y aterradora para los fanáticos de la serie.</p>
    <h4>Requisitos del sistema:</h4>
      <table class="requisitos" border="2">
        <thead>
          <tr>
            <th>Sistema operativo</th>
            <th>Procesador</th>
            <th>Memoria</th>
            <th>Tarjeta gráfica</th>
            <th>Almacenamiento</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Windows 10 (64 bits)</td>
            <td>Intel Core i5-8400 o AMD Ryzen 5 1600 o mejor</td>
            <td>16 GB de RAM</td>
            <td>NVIDIA GeForce GTX 1060 o AMD Radeon RX 580 con 6 GB de VRAM</td>
            <td>30 GB de espacio disponible</td>
          </tr>
        </tbody>
      </table>
  </article>
</body>
</html>