<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NeoGaming 🧬🕹</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header class="header">
      <h1 class="header__title">NeoGaming</h1>
      <nav class="header__nav">
        <ul>
          <li><a href="../../index.html">Inicio</a></li>
        </ul>
      </nav>
    </header>
    <article class="article">
      <h3 class="article__title">Resident Evil 4</h3>
      <img
        src="../../assets/re4.png"
        alt="Resident Evil 4"
        class="article__image"
      />
      <p class="article__developer">Desarrollado por: Capcom</p>
      <p class="article__publisher">Publicado por: Capcom</p>
      <p class="article__trailer-date">Fecha del trailer: 20/10/2022</p>
      <p class="article__release-date">Fecha de lanzamiento: 23 de Marzo del 2023</p>
      <ul class="article__details-list">
        <li class="article__details-item">Género: Survival horror, Acción</li>
        <li class="article__details-item">Plataformas: PlayStation 5, PlayStation 5, Xbox Series X|S, PC</li>
        <li class="article__details-item">Clasificación: ESBR Mature 17+</li>
      </ul>
      <iframe
        width="560"
        height="420"
        src="https://www.youtube.com/embed/E69tKrfEQag"
        title="Resident Evil 4 - 2nd Trailer | PS5 Games"
        class="article__iframe"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
      <h4 class="article__description-title">Descripción:</h4>
      <p class="article__description-text">
        Resident Evil 4 es una versión actualizada del juego original de 2005,
        uno de los títulos más populares y aclamados de la serie. En este juego,
        los jugadores asumen el papel del agente especial Leon S. Kennedy
        mientras investiga una misteriosa aldea en Europa que está infectada por
        un nuevo tipo de virus. Con una jugabilidad mejorada, gráficos mejorados
        y nuevas características, Resident Evil 4 promete ser una experiencia
        emocionante y aterradora para los fanáticos de la serie.
      </p>
      <h4 class="article__requirements-title">Requisitos del sistema:</h4>
      <table class="article__requirements-table">
        <thead>
          <tr>
            <th>Sistema operativo</th>
            <th>Procesador</th>
            <th>Memoria</th>
            <th>Tarjeta gráfica</th>
            <th>Almacenamiento</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Windows 10 (64 bits)</td>
            <td>Intel Core i5-4460 o AMD FX-6300 o mejor</td>
            <td>8 GB de RAM</td>
            <td>
              NVIDIA GeForce GTX 760 o AMD Radeon R7 260x con 2 GB de VRAM
            </td>
            <td>30 GB de espacio disponible</td>
          </tr>
        </tbody>
      </table>
    </article>
  </body>
</html>